@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root{
    --body-background:rgb(29, 30, 29);
    --titulo: white;
    --subtitulo:rgb(226, 162, 42);
}

*{
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-background);
}

/*NAV*/

#nav-container{
    position: absolute;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 10;
}

#nav{
    padding-left: 20px;
    display: flex;
    line-height: 60px;
}

.item-container{
    list-style: none;
}
.link{
    padding: 0 20px;
    color: var(--subtitulo);
    font-size: 20px;
    text-decoration: none;
    min-width: max-content;
}
.link:hover{
    text-decoration: underline;
}


/*HERO*/

.fondo{
    background-image: url(../img/fondobody.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment:fixed ;
}
#hero{
    height: 100vh;
    background:url(../img/ventana.png),fixed,no-repeat;
    background-size: cover;
    background-position:center;
}

#titulo, #subtitulo{
    color: var(--titulo);
    padding-left: 20px;
    text-shadow: 0 0 5px black;
}
#titulo{
    padding-top: 250px;
    margin: 0;
    font-size: 80px;
}
#subtitulo{
    font-size: 20px;
    color: var(--subtitulo);
}


/*ABOUT*/
#about{
    height: 100vh;
    width: 100%;
    text-align: center;
}

h3,.titulo-pro{
    margin: 0;
    padding: 80px 0 50px 0;
    font-size: 60px;
    color: var(--titulo);
    text-align: center;
}


/*LOGOS*/
.container{
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}
.logos{
    background-color: var(--subtitulo);
    padding: 10px;
    margin: 15px;
    max-width: 120px;
    border-radius: 10px;
}

#html,#css,#js,#links{
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5s ease-in-out all;
}
#html.visible,#css.visible,#js.visible,#links.visible{
    opacity: 1;
    transform: scale(1);
}
#html,#links{
    transform: translatey(-100px);
}
#html.visible,#links.visible{
    transform: translatey(0);
}

#css{
    transform: translatex(100px);
}
#css.visible{
    transform: translatex(0);
}

#js{
    transform: translatey(100px);
}
#js.visible{
    transform: translatey(0);
}


/*PROYECTOS*/

.proyec{
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    height: 250px;
}
.contenedor-projects{
    display: flex;
    justify-content: center;
}
.galeria{
    justify-content: center;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.info{
    margin: 20px;
    border-radius: 10px;
    background-color: var(--subtitulo);
    padding: 20px;
}
.info:hover,#html:hover,#css:hover,#js:hover{
    transition: 0.3s;
    transform: scale(1.06);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.descripcion{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: var(--titulo);
    background-color:var(--body-background);
}


/*CONTACTO*/
#subt{
    padding-top: 130px;
}
.redes{
    height: 100%;
    text-align: center;
    padding-bottom: 120px;
}
#links{
    padding: 0;
    max-width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.iconos{
    display: flex;
    flex-wrap: wrap;
}
.link-red{
    padding: 0;
    color: var(--subtitulo);
    font-size: 120px;
    margin: 0 15px;
}
.link-red i:hover{
    transform: scale(1.1);
}


/*FOOTER*/
footer{
    background: white;
    font-size: 15px;
    text-align: center;
    border-top:3px solid rgb(226, 162, 42) ;
}


@media (max-width:900px) {
    .fondo{
        background-position: left;
    }
    #titulo{
        font-size: 70px;
        padding-top: 120px;
    }
    #subtitulo{
        font-size: 30px;
    }
    .container{
        width: 80%;
        justify-content: center;
    }
    .galeria{
        max-width: 100%;
    }
    h3,.titulo-pro{
        font-size: 40px;
    }
    #subt{
        padding-bottom: 30px;
    }
    .redes{
        height: 100%;
        padding-bottom: 0;
    }
    .iconos{
        padding-top: 40px;
    }
}

@media (max-width:767px) {
    #nav{
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #subtitulo{
        font-size: 25px;
        background-color: var(--body-background);
    }
    .container{
        width: 40%;
        justify-content: center;
    }
    .logos{
        width: 90px;
    }
    #links{
        max-width: 90%;
    }
    .link-red{
        font-size: 90px;
    }
}