@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient( 45deg,rgb(20 152 204), rgb(251, 253, 144));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#contenedor{
    display: grid;
    margin: auto;
    padding-top: 35vh;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    text-align: center;
    justify-items: center;
    grid-gap: 40px;
}

p{
    font-size: 40px;
    color: white;
}
p::first-letter{
    text-transform: uppercase;
}

#caja1, #caja2,#caja3,#caja4{
    padding: 10px;
    background-color: rgba(29, 29, 29, 0.651);
    border-radius: 20px;
    box-shadow: 0 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px){
    #contenedor{
        grid-template-columns: 1fr;
        padding-top: 6vh;
    }
    p{
        font-size: 45px;
    }
    #caja1, #caja2,#caja3,#caja4{
        width: 80%;
    }
}